{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Pocet_stran</th>
                <td>{{ book.pocetStran }}</td>
            </tr>
            <tr>
                <th>Autor</th>
                <td>{{ book.autor }}</td>
            </tr>
            <tr>
                <th>Rok_vydani</th>
                <td>{{ book.rokVydani }}</td>
            </tr>
            <tr>
                <th>Cena</th>
                <td>{{ book.cena }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('book_index') }}">back to list</a>

    <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
